@model HomeViewModel
@{
    ViewBag.Title = "Accueil";
}
<div class="jumbotron">
    <h1>Bienvenue sur PronoFoot</h1>
    <p>PronoFoot est un site de pronostics de foot entièrement gratuit.</p>
    <p>
        Le principe est ultra-simple : pronostiquez un score avant le début de chaque match et remportez des points en fonction du résultat
        du match. Le joueur ayant le plus de points gagne.
    </p>
    <p>
        Il n'y a rien à gagner, mais rien à perdre non plus, alors n'hésitez pas, rejoignez-nous !
    </p>
    <p>
        Pour plus d'informations, vous pouvez consulter le @Html.ActionLink("règlement", "Rules").
    </p>
</div>
<div class="competitions">
    @Html.Action("CurrentCompetitions", "Competition")
</div>
