@model PronoFoot.Data.Model.Competition
@{
    ViewBag.Title = "Accueil";
}
<h2>@Model.Name</h2>
<table>
    <thead>
        <tr>
            <th>
                Journée
            </th>
            <th>
                Date
            </th>
            <th>
                Pronostics
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Days)
    {
        <tr>
            <td>@Html.ActionLink(item.Name, "Details", "Day", new {id = item.DayId}, null)</td>
            <td>@item.Date.ToString()</td>
            <td>@Html.ActionLink("Pronostiquer", "Forecast", "Day", new {id = item.DayId}, null)</td>
        </tr>
    }
</table>
