@model IEnumerable<HomeRulesExampleViewModel>
@{
    ViewBag.Title = "Règles";
}

<h2>Règles des pronostics</h2>
<div>Voici le barème de points :
<ul>
    <li>Score exact : 3 points</li>
    <li>Bon 1N2 avec un but d’écart : 2 points</li>
    <li>Bon 1N2 et bon écart à un but près : 1.5 points</li>
    <li>Bon 1N2 : 1 point</li>
    <li>Autre : 0 point</li>
</ul>
</div>
<div>
    <p><strong>Exemples :</strong></p>
    <table class="table">
        <thead>
            <tr>
                <th>Score</th>
                <th>Pronostic</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var example in Model)
            {
                <tr>
                    <td>@example.ScoreHomeGoals-@example.ScoreAwayGoals</td>
                    <td>@example.ForecastHomeGoals-@example.ForecastAwayGoals</td>
                    <td>@example.Score</td>
                </tr>
            }
        </tbody>
    </table>
</div>
