@model IEnumerable<HomeRulesExampleViewModel>
@{
    ViewBag.Title = "Règles";
}

<h1>Règles des pronostics</h1>
<p>Le score retenu est celui à la fin du temps de jeu, c'est-à-dire à la fin des prolongations si elles ont lieu.</p>
<p>Voici le barème de points :
<ul>
    <li>Score exact : 3 points,</li>
    <li>Bon 1N2 avec un but d’écart : 2 points,</li>
    <li>Bon 1N2 et bon écart à un but près : 1.5 points,</li>
    <li>Bon 1N2 : 1 point,</li>
    <li>Autre : 0 point.</li>
</ul>
</p>
<div>
    <p><strong>Exemples :</strong></p>
    <table class="table table-narrow">
        <thead>
            <tr>
                <th>Score</th>
                <th>Pronostic</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var example in Model)
            {
                <tr>
                    <td>@example.ScoreHomeGoals-@example.ScoreAwayGoals</td>
                    <td>@example.ForecastHomeGoals-@example.ForecastAwayGoals</td>
                    <td>@example.Score</td>
                </tr>
            }
        </tbody>
    </table>
</div>
