@model PronoFoot.Models.Competition.CompetitionModel

@{
    ViewBag.Title = "Nouvelle compétition";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.Partial("_Form", Model)
}

<div>
    @Html.ActionLink("Annuler", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
