@model IList<PronoFoot.Models.Edition.EditionOverviewModel>
@if (Model.Count > 0)
{
    <div class="current-competitions">
        <h2>Compétitions</h2>
        <ol>
            @foreach (var edition in Model)
            {
                <li class="current-competition">
                    <div class="current-competition-heading">
                        <h3>@Html.ActionLink(edition.CompetitionName + " " + edition.Name, "Details", "Edition", new { id = edition.Id }, null)</h3>
                    </div>
                    <div class="current-competition-content">
                        @if (edition.NextFixture != null)
                        {
                            @:Prochain match : @Html.ActionLink(edition.NextFixture.DateTime.ToString("g"), "Details", "Day", new { id = edition.NextFixture.DayId }, null)
                    }
                        <div class="classification">
                            @*<h4>Classement</h4>*@
                            <table class="table table-condensed" >
                                <tbody>
                                    @{
                        int rank = 1;
                        foreach (var userScore in edition.Scores.OrderByDescending(x => x.Score).ThenByDescending(x => x.NumberOfExactForecasts).ThenByDescending(x => x.NumberOfCloseForecasts).Take(3))
                        {
                            <tr>
                                <td>
                                    @rank
                            </td>
                            <td>
                                @userScore.UserName
                            </td>
                            <td>
                                @String.Format("{0:F1}", userScore.Score)
                            </td>
                            </tr>
                            rank++;
                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
}