@model IList<PronoFoot.Models.Competition.CompetitionOverviewModel>
@if (Model.Count > 0)
{
    <div class="current-competitions">
        <h2>Compétitions</h2>
        <ol>
            @foreach (var competition in Model)
            {
                <li class="current-competition">
                    <div class="current-competition-heading">
                        <h3>@Html.ActionLink(competition.Name, "Details", new { id = competition.Id })
                        </h3>
                    </div>
                    <div class="current-competition-content">
                        @if (competition.NextFixture != null)
                        {
                            @:Prochain match : @Html.ActionLink(competition.NextFixture.DateTime.ToString("g"), "Details", "Day", new { id = competition.NextFixture.DayId }, null)
                    }
                        <div class="classification">
                            @*<h4>Classement</h4>*@
                            <table>
                                @{
                        int rank = 1;
                        foreach (var userScore in competition.Scores.OrderByDescending(x => x.Score).ThenByDescending(x => x.NumberOfExactForecasts).ThenByDescending(x => x.NumberOfCloseForecasts).Take(3))
                        {
                                    <tr>
                                        <td>@rank
                                        </td>
                                        <td>
                                            @userScore.UserName
                                        </td>
                                        <td>
                                            @String.Format("{0:F1}", userScore.Score)
                                        </td>
                                    </tr>
                            rank++;
                        }
                                }
                            </table>
                        </div>
                    </div>
                </li>
            }
        </ol>
    </div>
}