@model CompetitionDetailsViewModel

@{
    ViewBag.Title = Model.Competition.Name;
}
<h1>@Model.Competition.Name</h1>
<div id="editions">
    <h2>Editions</h2>
    <ul>
        @foreach (var edition in Model.Editions)
        {
            <li>@Html.ActionLink(edition.Name, "Details", "Edition", new { id = edition.EditionId }, null)</li>
        }
    </ul>
</div>