@model PronoFoot.Models.Competition.CompetitionListModel
@{
    ViewBag.Title = "Compétitions";
}
<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Ajouter", "Create")
</p>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var competition in Model.Competitions)
        {
            <tr>
                <td>
                    @Html.ActionLink(competition.Name, "Details", new { id = competition.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = competition.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
