@model PronoFoot.Models.Common.MenuModel

<li>@Html.ActionLink("Accueil", "Index", "Home")</li>
@foreach (var competition in Model.Competitions)
{
    <li>
        @Html.ActionLink(competition.Name, "Details", "Competition", new { id = competition.Id }, null)
    </li>
}
<li>@Html.ActionLink("Règlement", "Rules", "Home")</li>

