body {
    background-color: #f2faf0;
    color: #696969;
    padding-top: 50px;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-inverse {
    background-color: #1a7306;
    background-image: linear-gradient(to bottom, #1f7c10 0%, #1a7306 100%);
    border-color: #186e06;
}

    .navbar-inverse .navbar-brand {
        color: #dff6df;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #dff6df;
    }

    .navbar-inverse .navbar-text {
        color: #dff6df;
    }

    .navbar-inverse .navbar-link {
        color: #dff6df;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #155505;
    }

        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus {
            background-color: #155505;
        }

    .navbar-inverse .navbar-collapse {
        border-color: #155505;
    }

.jumbotron {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 5px;
}

    .jumbotron h1 {
        font-size: 2em;
    }

table {
    background-color: white;
}

.table-narrow {
    width: auto;
}

.current-competitions ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.current-competition {
    padding: 1.25em 1.45em 1.5em 1.55em;
    margin: 1.25em 0px 3em;
    background-color: white; /*#f8fcf8;*/
    border-radius: 1em;
    opacity: 0.9;
    box-shadow: 0 0 1.1em #666;
}

.current-competition-heading {
    background-color: #498C3A; /*#549945 #638763 #4D8640*/
    margin: -2em -1.45em 1.25em -1.55em;
    padding: 0.7em 1em 0.7em 1.75em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.current-competition-content table {
    margin: 0;
}

.current-competition h3 {
    color: #ffffff; /*#f1cdc8;*/
    margin: 0.2em 0 0.2em 0;
    font-weight: bold;
    font-size: 1.2em;
}

    .current-competition h3 a {
        color: #d9f7d2;
    }

.current-competition .classification {
    margin-top: 1em;
}

    .current-competition .classification table {
        border: 0;
    }

        .current-competition .classification table td {
            border: 0;
        }

ul.forecast-dates {
    margin: 0;
    padding: 0;
    list-style: none;
}

.date-row {
    background-color: #f9f9f9;
    font-weight: bold;
    font-style: italic;
    padding: 0.6em;
}

ul.forecasts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fixture {
    min-height: 50px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.forecast {
    display: block;
    margin: auto;
    text-align: center;
    width: 200px;
}

.team {
    display: inline-block;
}

.team-name {
}

.team-rank {
    font-size: 0.8em;
}

.goals {
    display: inline-block;
    width: 3em;
    text-align: center;
}

.home .goals {
    float: right;
}

.away .goals {
    float: right;
}

@media screen and (min-width: 768px) {
    .fixture {
        margin-bottom: 0;
    }

    .goals {
        display: block;
    }

    .home {
        text-align: right;
    }

        .home .goals {
            margin-left: 15px;
        }

    .away .goals {
        float: left;
        margin-right: 15px;
    }
}

.fixture-result {
    text-align: center;
}

.goal-input {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.result {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin-right: 3px;
}

.win {
    background-color: green;
}

.draw {
    background-color: orange;
}

.loss {
    background-color: red;
}
