html
{
    /*background-color: #4D8640;*/
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f2faf0; /*#4D8640;*/
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Title
----------------------------------------------------------*/
.site-title
{
    font-size: 2.3em;
    font-weight: bold; /*margin: 20px 0;*/
    margin: 0px;
    padding: 10px 0 15px 5px;
    text-shadow: 1px 1px 2px #444;
}

    .site-title a
    {
        color: #dfefdf;
        background: none;
        outline: none;
        text-decoration: none;
    }

/* login
----------------------------------------------------------*/
#login
{
    display: block;
    color: White;
    margin: 20px 0 12px;
    /*padding: 10px 0;*/
    text-align: right;
}

    #login p
    {
        margin: 0px;
    }

    #login a
    {
        color: White;
    }

    #login ul
    {
        margin: 0;
    }

    #login li
    {
        display: inline;
        list-style: none;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
    }

/* menu
----------------------------------------------------------*/
nav
{
    padding: 5px 0 5px 0;
}

ul#menu
{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    /*text-align: right;
    padding-bottom: 5px;*/
    padding-left: 0px;
}

    ul#menu li
    {
        display: inline;
        list-style: none;
        padding-right: 25px;
    }

        ul#menu li a
        {
            background: none; /*color: #999;*/
            color: #dff6df;
            text-decoration: none;
        }

            ul#menu li a:hover
            {
                color: #999;
                text-decoration: none;
            }



.intro
{
    padding: 1em 3em 1em 3em;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: white;
}

.current-competitions ol
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.current-competition
{
    background-color: white; /*#f8fcf8;*/
    padding: 1.25em 1.45em 1.25em 1.55em;
    margin: 0.5em 0 3em 0;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    opacity: 0.9;
    -moz-box-shadow: 0 0 1.1em #666;
    -webkit-box-shadow: 0 0 1.1em #666;
    box-shadow: 0 0 1.1em #666;
}

.current-competition-heading
{
    background-color: #498C3A; /*#549945 #638763 #4D8640*/
    height: 1.3em;
    margin: -2em -1.45em 1.25em -1.55em;
    padding: 0.7em 1em 1.1em 1.75em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-right-radius: 1em;
    -webkit-border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

.current-competition-content
{
}

.current-competition h3
{
    color: #ffffff; /*#f1cdc8;*/
    margin: 0.2em 0 0.2em 0;
    font-weight: bold;
    font-size: 1.2em;
}

    .current-competition h3 a
    {
        color: #d9f7d2;
    }

.current-competition .classification
{
    margin-top: 1em;
}

    .current-competition .classification table
    {
        border: 0;
    }

        .current-competition .classification table td
        {
            border: 0;
        }

#days
{
    width: 50%;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

    table td
    {
        padding: 5px;
        border: solid 1px #e8eef4;
        background-color: white;
    }

    table th
    {
        padding: 6px 5px;
        text-align: left;
        background-color: #e8eef4;
        border: solid 1px #e8eef4;
    }

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

    .text-box.multi-line
    {
        height: 6.5em;
    }

.tri-state
{
    width: 6em;
}

/* PronoFoot */
input.goal-count
{
    padding-right: 0.5em;
    text-align: right;
    width: 3em;
}

input.coefficient
{
    padding-right: 0.5em;
    text-align: right;
    width: 4em;
}

#team-standings th
{
    text-align: center;
}

#team-standings th.team
{
    text-align: left;
}

#team-standings td.rank
{
    font-size: 1em;
    font-weight: bold;
    min-width: 2em;
    text-align: center;
}

#team-standings td.team
{
}

#team-standings td.points
{
    font-weight: bold;
    min-width: 2em;
    text-align: center;
}

#team-standings td.stats
{
    min-width: 2em;
    text-align: center;
}

@media only screen and (max-width: 850px)
{
    .float-left, .float-right
    {
        float: none;
    }

    .site-title
    {
        font-size: 1.4em;
        /*padding: 0;*/
    }

    #login
    {
        margin: 0;
        text-align: center;
    }

    ul#menu
    {
        font-size: 1em;
    }

    ul#menu li
    {
        display: block;
        padding-right: 0;
        padding-bottom: 5px;
    }
}

.rank {
    font-size: 0.8em;
}

.result {
    font-size:0.8em;
    font-weight:bold;
}

.win {
    color:green;
}

.draw {
    color:orange;
}

.loss {
    color:red;
}