@if (Request.IsAuthenticated)
{
    <p class="navbar-text navbar-right">
        Bienvenue <strong>@Html.ActionLink((string)ViewBag.UserName ?? User.Identity.Name, "Index", "User", routeValues: null, htmlAttributes: new { @class = "navbar-link username" })</strong> !
        ( @Html.ActionLink("Se déconnecter", "LogOff", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-link" }) )
    </p>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("S'inscrire", "Register", "Account")</li>
        <li>@Html.ActionLink("Se connecter", "LogOn", "Account")</li>
    </ul>
}
