@if (Request.IsAuthenticated)
{
    <p>
        Bienvenue <strong>@Html.ActionLink((string)ViewBag.UserName ?? User.Identity.Name, "Index", "User", routeValues: null, htmlAttributes: new { @class="username" })</strong> !
        ( @Html.ActionLink("Se déconnecter", "LogOff", "Account") )
    </p>
}
else
{
    <ul>
        <li>@Html.ActionLink("S'inscrire", "Register", "Account")</li>
        <li>@Html.ActionLink("Se connecter", "LogOn", "Account")</li>
    </ul>
}
