@{
    ViewBag.Title = "Mot de passe oublié";
}

<h2>@ViewBag.Title ?</h2>
<p>
    Pour réinitialiser votre mot de passe, saisissez votre identifiant.
</p>

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>Informations</legend>
            <div class="editor-label">
                @Html.Label("username", "Identitifant")
            </div>
            <div class="editor-field">
                @Html.TextBox("username") 
                @Html.ValidationMessage("username")
            </div>
            <p>
                <input value="Envoyer" type="submit" />
            </p>
        </fieldset>
    </div>
}