@{
    ViewBag.Title = "Mot de passe oublié";
}

<h2>@ViewBag.Title</h2>
<p>
    Un email a été envoyé à l'adresse liée à votre compte. Suivez le lien dans cet email pour réinitialiser votre mot de passe.
</p>
